{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
    <div class="container" style="margin-top: 15px">
        <h1>Voir tous nos biens</h1>
    </div>
{% endblock %}